a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0 0 20px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: #ff5c58;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  margin-top: 25%;
  gap: 10px;
}

.base_datos_imgs {
  display: flex;
  gap: 20px;
  flex: 1 1 0%;
  flex-wrap: wrap;
  margin: 20px 0;
}

.base_datos_img {
  height: 150px;
}

.header {
  margin-top: 0;
  padding-top: 0;
  background-image: url(https://cdn.pixabay.com/photo/2017/11/12/18/32/book-2943383_960_720.png);
  height: 450px;
  background-size: cover;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.base_datos_asterisco_mayor {
  color: #ff5c58;
}

.base_datos_asterisco_menor {
  color: #fe8f8f;
}

.code {
  font-family: monospace;
  color: #091353;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 120%;
}

.main_contet {
  margin-right: 40px;
}

.menu_links {
  background-color: white;
  color: #fe8f8f;
  border: 2px solid #ff5c58;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.menu_links:hover,
.menu_links:active {
  background-color: #ff5c58;
  color: white;
}

.main_aside_links {
  color: #fe8f8f;
}

.main_aside_links:hover {
  font-size: 150%;
  color: #ff5c58;
}
