* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  height: 600px;
  background-image: url("https://image.freepik.com/vector-gratis/concepto-manual-usuario-producto-manual-guia-libro-instrucciones-plantilla-vector-ilustracion-plana_128772-1202.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  text-align: right;
}

.nav {
  padding-top: 20px;
  margin-right: 20px;
}

.nav_links {
  text-decoration: none;
  background-color: #2563EB;
  color: white;
  border-radius: 10%;
  border: 10px;
  padding: 14px 25px;
  opacity: 0.9;
}

.nav_links:hover{
    color: white;
    background-color: #3260C5;
}

.article{
    margin-left: 30px;
}

.contain {
  margin-top: 20px;
}

.contain_images {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 20px;
}

.contain__image {
  height: 400px;
  width: 400px;
}

.contain__image:hover{
    border: 2px solid #2563EB;
}

.contain_h2{
    color: #2563EB;
    text-transform: uppercase;
}

.contain_p{
    width: 50%;
    padding-bottom: 10px;
}
