* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  height: 600px;
  background-image: url("https://cdn.pixabay.com/photo/2018/09/17/18/07/manual-3684460_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  text-align: right;
}

.nav {
  padding-top: 65px;
  margin-right: 20px;
}

.nav_links {
  text-decoration: none;
  border: 2px solid #2563eb;
  color: #2563eb;
  border-radius: 10%;
  padding: 14px 25px;
}

.nav_links:hover {
  color: white;
  background-color: #3260c5;
}

.article {
  margin-left: 30px;
}

.contain {
  margin-top: 20px;
}

.contain_images {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 20px;
}

.contain_images_span{
  color: #2563eb;
  margin-left: 150px;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
}

.contain__image {
  height: 350px;
  width: 350px;
}

.contain__image:hover {
  border: 2px solid #2563eb;
}

.contain_h2 {
  color: #2563eb;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contain_p {
  width: 50%;
  padding-bottom: 10px;
  text-align: justify;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
